*{
  margin: 0;
  padding: 0;
}
body{
  padding: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 10vh;
}
h1{
  color: midnightblue;
  border-bottom: 2px solid gray;
  margin-bottom: 3vh;
}
table{
  width: 540px;
  height: 540px;
  background-color: aliceblue;
  border-collapse: collapse;
}

input{
  width: 60px;
  height: 60px;
  border: 1px solid dimgray;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

}

/* .tile-Selected {
  background-color: gainsboro;
} */

.horizontal-line {
  border-bottom: 1px solid black;
}
.vertical-line {
  border-right: 1px solid black;
}

section {
  width: 540px;
  display: flex;
  justify-content: space-between;
}

#checkVal {
  padding: 10px;
  margin-top: 2vh;
  font-weight: 600;
}

#resetBtn {
  padding: 10px;
  margin-top: 2vh;
  font-weight: 600;
}

#newGame {
  padding: 10px;
  margin-top: 2vh;
  font-weight: 600;
}

#solution {
  padding: 10px;
  margin-top: 2vh;
  font-weight: 600;
}

.sudokuTr:nth-child(3n + 1){
  border-top: 2px solid black;
}

.sudokuTr:nth-child(3n){
  border-bottom: 2px solid black;
}

td:nth-child(3n + 1){
  border-left: 2px solid black;
}

td:nth-child(3n){
  border-right: 2px solid black;
}


